@font-face {
  font-family: 'tcsc';
  src:  url('fonts/tcsc.eot?gli2r4');
  src:  url('fonts/tcsc.eot?gli2r4#iefix') format('embedded-opentype'),
    url('fonts/tcsc.ttf?gli2r4') format('truetype'),
    url('fonts/tcsc.woff?gli2r4') format('woff'),
    url('fonts/tcsc.svg?gli2r4#tcsc') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="tcsc-"], [class*=" tcsc-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'tcsc' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tcsc-car-icon:before {
  content: "\e900";
}
.tcsc-traffic-light-icon:before {
  content: "\e901";
}
.tcsc-automaton-icon:before {
  content: "\e902";
}
.tcsc-car-1-icon:before {
  content: "\e903";
}
.tcsc-car-2-icon:before {
  content: "\e904";
}
.tcsc-professions-and-jobs-icon:before {
  content: "\e905";
}
.tcsc-real-estate-icon:before {
  content: "\e906";
}
.tcsc-wheel-icon:before {
  content: "\e907";
}
.tcsc-car-3-icon:before {
  content: "\e908";
}
.tcsc-car-accident-icon:before {
  content: "\e909";
}
.tcsc-robotic-arm-icon:before {
  content: "\e90a";
}
.tcsc-speed-icon:before {
  content: "\e90b";
}
.tcsc-car1-icon:before {
  content: "\e90c";
}
.tcsc-fuel-icon:before {
  content: "\e90d";
}
.tcsc-car-11-icon:before {
  content: "\e90e";
}
.tcsc-oil-icon:before {
  content: "\e90f";
}
.tcsc-motor-icon:before {
  content: "\e910";
}
.tcsc-wheel-1-icon:before {
  content: "\e911";
}
.tcsc-motor-1-icon:before {
  content: "\e912";
}
.tcsc-parking-icon:before {
  content: "\e913";
}
.tcsc-car-4-icon:before {
  content: "\e914";
}
.tcsc-car-battery-icon:before {
  content: "\e915";
}
.tcsc-car-5-icon:before {
  content: "\e916";
}
.tcsc-jeep-icon:before {
  content: "\e917";
}
.tcsc-car-6-icon:before {
  content: "\e918";
}
.tcsc-inflate-icon:before {
  content: "\e919";
}
.tcsc-motor1-icon:before {
  content: "\e91a";
}
.tcsc-tire-icon:before {
  content: "\e91b";
}
.tcsc-car-21-icon:before {
  content: "\e91c";
}
.tcsc-car-check-icon:before {
  content: "\e91d";
}
.tcsc-spring-icon:before {
  content: "\e91e";
}
.tcsc-turbo-icon:before {
  content: "\e91f";
}
.tcsc-broken-car-icon:before {
  content: "\e920";
}
.tcsc-motor-2-icon:before {
  content: "\e921";
}
.tcsc-architecture-and-city-icon:before {
  content: "\e922";
}
.tcsc-car-31-icon:before {
  content: "\e923";
}
.tcsc-car-41-icon:before {
  content: "\e924";
}
.tcsc-racing-game-icon:before {
  content: "\e925";
}
.tcsc-car-51-icon:before {
  content: "\e926";
}
.tcsc-motor-11-icon:before {
  content: "\e927";
}
.tcsc-car-wash-icon:before {
  content: "\e928";
}
.tcsc-technician-icon:before {
  content: "\e929";
}
.tcsc-car-61-icon:before {
  content: "\e92a";
}
.tcsc-entertainment-icon:before {
  content: "\e92b";
}
.tcsc-bumper-car-icon:before {
  content: "\e92c";
}
.tcsc-car-7-icon:before {
  content: "\e92d";
}
.tcsc-car-8-icon:before {
  content: "\e92e";
}
.tcsc-farming-and-gardening-icon:before {
  content: "\e92f";
}
.tcsc-business-and-finance-icon:before {
  content: "\e930";
}
.tcsc-key-icon:before {
  content: "\e931";
}
.tcsc-cab-icon:before {
  content: "\e932";
}
.tcsc-car-9-icon:before {
  content: "\e933";
}
.tcsc-car-sales-icon:before {
  content: "\e934";
}
.tcsc-maps-and-location-icon:before {
  content: "\e935";
}
.tcsc-car-sales-1-icon:before {
  content: "\e936";
}
.tcsc-technician-1-icon:before {
  content: "\e937";
}
.tcsc-architecture-and-city-1-icon:before {
  content: "\e938";
}
.tcsc-car-10-icon:before {
  content: "\e939";
}
.tcsc-investing-icon:before {
  content: "\e93a";
}
.tcsc-oil1-icon:before {
  content: "\e93b";
}
.tcsc-car-battery-1-icon:before {
  content: "\e93c";
}
.tcsc-hippie-icon:before {
  content: "\e93d";
}
.tcsc-truck-icon:before {
  content: "\e93e";
}
.tcsc-volkswagen-beetle-icon:before {
  content: "\e93f";
}
.tcsc-hover-car-icon:before {
  content: "\e940";
}
.tcsc-maintenance-icon:before {
  content: "\e941";
}
.tcsc-car-radio-icon:before {
  content: "\e942";
}
.tcsc-spray-icon:before {
  content: "\e943";
}
.tcsc-car-service-icon:before {
  content: "\e944";
}
.tcsc-taxi-icon:before {
  content: "\e945";
}
.tcsc-car-111-icon:before {
  content: "\e946";
}
.tcsc-car-service-1-icon:before {
  content: "\e947";
}
.tcsc-car-12-icon:before {
  content: "\e948";
}
.tcsc-safe-driving-icon:before {
  content: "\e949";
}
.tcsc-crane-truck-icon:before {
  content: "\e94a";
}
.tcsc-turbo1-icon:before {
  content: "\e94b";
}
.tcsc-car-parts-icon:before {
  content: "\e94c";
}
.tcsc-crane-truck-1-icon:before {
  content: "\e94d";
}
.tcsc-checklist-icon:before {
  content: "\e94e";
}
.tcsc-motor-3-icon:before {
  content: "\e94f";
}
.tcsc-generator-icon:before {
  content: "\e950";
}
.tcsc-insurance-icon:before {
  content: "\e951";
}
.tcsc-car-13-icon:before {
  content: "\e952";
}
.tcsc-insurance-1-icon:before {
  content: "\e953";
}
.tcsc-fix-icon:before {
  content: "\e954";
}
.tcsc-insurance-2-icon:before {
  content: "\e955";
}
.tcsc-storage-icon:before {
  content: "\e956";
}
.tcsc-transportation-icon:before {
  content: "\e957";
}
.tcsc-gear-box-icon:before {
  content: "\e958";
}
.tcsc-inventory-icon:before {
  content: "\e959";
}
.tcsc-electric-car-icon:before {
  content: "\e95a";
}
.tcsc-inventory-1-icon:before {
  content: "\e95b";
}
.tcsc-stock-icon:before {
  content: "\e95c";
}
.tcsc-transportation-1-icon:before {
  content: "\e95d";
}
.tcsc-news-report-icon:before {
  content: "\e95e";
}
.tcsc-transportation-2-icon:before {
  content: "\e95f";
}
.tcsc-cost-icon:before {
  content: "\e960";
}
.tcsc-market-analysis-icon:before {
  content: "\e961";
}
.tcsc-car-services-icon:before {
  content: "\e962";
}
.tcsc-margin-icon:before {
  content: "\e963";
}
.tcsc-warehouse-icon:before {
  content: "\e964";
}
.tcsc-warehouse-1-icon:before {
  content: "\e965";
}
.tcsc-stock-1-icon:before {
  content: "\e966";
}
.tcsc-stock-2-icon:before {
  content: "\e967";
}
