$icomoon-font-family: "tcsc" !default;
$icomoon-font-path: "fonts" !default;

$tcsc-car-icon: "\e900";
$tcsc-traffic-light-icon: "\e901";
$tcsc-automaton-icon: "\e902";
$tcsc-car-1-icon: "\e903";
$tcsc-car-2-icon: "\e904";
$tcsc-professions-and-jobs-icon: "\e905";
$tcsc-real-estate-icon: "\e906";
$tcsc-wheel-icon: "\e907";
$tcsc-car-3-icon: "\e908";
$tcsc-car-accident-icon: "\e909";
$tcsc-robotic-arm-icon: "\e90a";
$tcsc-speed-icon: "\e90b";
$tcsc-car1-icon: "\e90c";
$tcsc-fuel-icon: "\e90d";
$tcsc-car-11-icon: "\e90e";
$tcsc-oil-icon: "\e90f";
$tcsc-motor-icon: "\e910";
$tcsc-wheel-1-icon: "\e911";
$tcsc-motor-1-icon: "\e912";
$tcsc-parking-icon: "\e913";
$tcsc-car-4-icon: "\e914";
$tcsc-car-battery-icon: "\e915";
$tcsc-car-5-icon: "\e916";
$tcsc-jeep-icon: "\e917";
$tcsc-car-6-icon: "\e918";
$tcsc-inflate-icon: "\e919";
$tcsc-motor1-icon: "\e91a";
$tcsc-tire-icon: "\e91b";
$tcsc-car-21-icon: "\e91c";
$tcsc-car-check-icon: "\e91d";
$tcsc-spring-icon: "\e91e";
$tcsc-turbo-icon: "\e91f";
$tcsc-broken-car-icon: "\e920";
$tcsc-motor-2-icon: "\e921";
$tcsc-architecture-and-city-icon: "\e922";
$tcsc-car-31-icon: "\e923";
$tcsc-car-41-icon: "\e924";
$tcsc-racing-game-icon: "\e925";
$tcsc-car-51-icon: "\e926";
$tcsc-motor-11-icon: "\e927";
$tcsc-car-wash-icon: "\e928";
$tcsc-technician-icon: "\e929";
$tcsc-car-61-icon: "\e92a";
$tcsc-entertainment-icon: "\e92b";
$tcsc-bumper-car-icon: "\e92c";
$tcsc-car-7-icon: "\e92d";
$tcsc-car-8-icon: "\e92e";
$tcsc-farming-and-gardening-icon: "\e92f";
$tcsc-business-and-finance-icon: "\e930";
$tcsc-key-icon: "\e931";
$tcsc-cab-icon: "\e932";
$tcsc-car-9-icon: "\e933";
$tcsc-car-sales-icon: "\e934";
$tcsc-maps-and-location-icon: "\e935";
$tcsc-car-sales-1-icon: "\e936";
$tcsc-technician-1-icon: "\e937";
$tcsc-architecture-and-city-1-icon: "\e938";
$tcsc-car-10-icon: "\e939";
$tcsc-investing-icon: "\e93a";
$tcsc-oil1-icon: "\e93b";
$tcsc-car-battery-1-icon: "\e93c";
$tcsc-hippie-icon: "\e93d";
$tcsc-truck-icon: "\e93e";
$tcsc-volkswagen-beetle-icon: "\e93f";
$tcsc-hover-car-icon: "\e940";
$tcsc-maintenance-icon: "\e941";
$tcsc-car-radio-icon: "\e942";
$tcsc-spray-icon: "\e943";
$tcsc-car-service-icon: "\e944";
$tcsc-taxi-icon: "\e945";
$tcsc-car-111-icon: "\e946";
$tcsc-car-service-1-icon: "\e947";
$tcsc-car-12-icon: "\e948";
$tcsc-safe-driving-icon: "\e949";
$tcsc-crane-truck-icon: "\e94a";
$tcsc-turbo1-icon: "\e94b";
$tcsc-car-parts-icon: "\e94c";
$tcsc-crane-truck-1-icon: "\e94d";
$tcsc-checklist-icon: "\e94e";
$tcsc-motor-3-icon: "\e94f";
$tcsc-generator-icon: "\e950";
$tcsc-insurance-icon: "\e951";
$tcsc-car-13-icon: "\e952";
$tcsc-insurance-1-icon: "\e953";
$tcsc-fix-icon: "\e954";
$tcsc-insurance-2-icon: "\e955";
$tcsc-storage-icon: "\e956";
$tcsc-transportation-icon: "\e957";
$tcsc-gear-box-icon: "\e958";
$tcsc-inventory-icon: "\e959";
$tcsc-electric-car-icon: "\e95a";
$tcsc-inventory-1-icon: "\e95b";
$tcsc-stock-icon: "\e95c";
$tcsc-transportation-1-icon: "\e95d";
$tcsc-news-report-icon: "\e95e";
$tcsc-transportation-2-icon: "\e95f";
$tcsc-cost-icon: "\e960";
$tcsc-market-analysis-icon: "\e961";
$tcsc-car-services-icon: "\e962";
$tcsc-margin-icon: "\e963";
$tcsc-warehouse-icon: "\e964";
$tcsc-warehouse-1-icon: "\e965";
$tcsc-stock-1-icon: "\e966";
$tcsc-stock-2-icon: "\e967";

